/* Base */
/* Colors */
/* line 9, C:/Users/Comp6/Desktop/sass-demo/scss/base/_base.scss */
body {
  font-size: 15px;
  color: #000;
  font-family: "Poppins-Bold", sans-serif;
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../font/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../font/Poppins-Bold.ttf") format("truetype");
}

/* line 22, C:/Users/Comp6/Desktop/sass-demo/scss/base/_base.scss */
a:hover {
  color: #ffa600 !important;
}

/* line 30, C:/Users/Comp6/Desktop/sass-demo/scss/base/_base.scss */
.bg-orange {
  background-color: #ffa600 !important;
}

/* Modules */
/* Layouts */
/* line 15, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.wrapper {
  position: relative;
  height: 100%;
}

/* line 20, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.wrapper .video-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: -moz-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: -o-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
}

/* line 29, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.display-table {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Opera 12.1, Firefox 20+ */
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 37, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.verticle-middle {
  margin: 0 auto;
}

/* line 41, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.video-container {
  position: relative;
}

/* line 45, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

/* line 59, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.navbar-transparent {
  position: absolute;
  width: 100%;
  z-index: 30;
  background-color: transparent;
  border-color: transparent;
}

/* line 68, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.video-wrap {
  width: 100%;
  max-height: 750px;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  z-index: -100;
}

/* line 78, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
.bg-h1 {
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}

@media only screen and (max-width: 992px) {
  /* line 84, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
  .bg-h1 {
    background-color: red !important;
  }
}

/* line 90, C:/Users/Comp6/Desktop/sass-demo/scss/main.scss */
h1 {
  color: #ffa600 !important;
  padding: 50px;
  border: 1px solid #000;
  background: -webkit-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: -moz-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: -o-linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
  background: linear-gradient(to top, rgba(148, 85, 166, 0.5) 40%, rgba(86, 130, 190, 0.96) 100%);
}

/*# sourceMappingURL=../css/main.map */