html {
    position: relative;
}
body {
    font-family: "open-sans.regular", sans-serif;
    background-color: #fff;
    margin-bottom: 60px;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url('../font/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Poppins-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Poppins-Light";
    src: url('../font/Poppins-Light.eot?#iefix') format('embedded-opentype'), url('../font/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: "Poppins-Regular";
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../font/Poppins-Regular.ttf') format('truetype');
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "open-sans.regular";
}
@media only screen and (max-width: 991px) {
    .sm-text-center {
        text-align: center;
    }
}
.footer-top {
    background: #ECEEED;
}
.footer-nav {
    text-align: center;
}
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: 0;
    outline: none !important;
    text-decoration: none !important;
}
textarea:focus,
input:focus,
textarea:active,
input:active,
select:focus,
select:active {
    outline: none !important;
}
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
    outline: none !important;
    box-shadow: none !important;
}
a {
    text-decoration: none !important;
}
.text-black {
    color: #000;
}
.text-white {
    color: #fff;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
.footer-parallax {
    background-image: url("../img/parallax11.jpg");
    padding: 80px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-black {
    background-color: #000;
}
.bg-darkgrey {
    background-color: #2d3032;
}
/*pre loader*/

.pre-loader {
    width: 100%;
    height: 100%;
    background: url('../img/preloader.gif') center no-repeat #FFF;
    z-index: 99999;
    position: fixed;
}
/* topbar */

.top-bar {
    background-color: #2d3032;
}
.fa-facebook .fa-twitter .fa-google-plus .fa-linkedin,
.fa-bars,
.fa-star,
.fa-star-half-full,
.fa-map-marker,
.fa-search,
.fa-chevron-right {
    color: #ffa600;
}
.top-bar .info li,
.top-bar .info li a {
    color: #fff;
}
footer a {
    color: #fff;
}
.fa-yellow {
    color: #ffa600;
}
footer a:hover {
    color: #ffa600;
}
.text-grey {
    color: #D1D1D1;
}
.fs {
    font-size: 1rem !important;
}
.title {
    position: relative;
    padding-bottom: 15px;
    font-family: "Poppins-SemiBold";
    margin-bottom: 35px;
}
.title:after {
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 50px;
    background-color: #ffa600;
}
.margin-clear {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.overlay-container {
    position: relative;
    display: block;
    text-align: center;
    overflow: hidden;
}
.overlay-container:hover .overlay-link {
    height: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1, 1);
}
.overlay-link {
    position: absolute;
    z-index: 10;
    top: 0;
    padding: 15px;
    bottom: 0px;
    left: 0;
    right: 0px;
    background-color: rgba(30, 30, 30, 0.5);
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all ease-in-out 0.25s;
    -o-transition: all ease-in-out 0.25s;
    transition: all ease-in-out 0.25s;
    color: #ffffff;
}
.overlay-link.small i {
    width: 25px;
    height: 25px;
    margin: -12.5px 0 0 -12.5px;
    font-size: 14px;
    line-height: 25px;
}
.overlay-link i {
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 80px;
    height: 80px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 32px;
    line-height: 80px;
}
h6.media-heading {
    margin-bottom: 5px;
    font-size: 14px;
}
.custom-small {
    font-size: 12px;
}
.plain-flicker-gallery {
    margin-left: -5px;
    margin-right: -5px;
}
.plain-flicker-gallery a {
    display: inline-block;
    width: 32%;
    font-size: 0px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.plain-flicker-gallery a img:hover {
    background-color: rgba(30, 30, 30, 0.5);
}
.plain-flicker-gallery a img {
    width: 100%;
}
.plain-flicker-gallery1 {
    margin-left: -5px;
    margin-right: -5px;
}
.plain-flicker-gallery1 a {
    display: inline-block;
    width: 32%;
    font-size: 0px;
    margin-top: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.plain-flicker-gallery1 a img {
    width: 100%;
}
footer p {
    font-family: "open-sans.regular", sans-serif;
    font-size: 14px;
}
.navbar-custom-toggle {
    top: 6px !important;
}
p.about-line {
    line-height: 26px;
    font-size: 14px;
}
@media(min-width: 992px) {
    .ml-lg-4 {
        margin-left: 1.5rem!important;
    }
}
/* parallax effect */

.bgimg-1,
.bgimg-2,
.bgimg-3,
.footer-img {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-1 {
    background-image: url("../img/parallax1.jpg");
    min-height: 600px;
}
.book-table {
    background-image: url("../img/Parallax.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-3 {
    background-image: url("../img/corp/slidesmall4.jpg");
    padding: 80px 0;
}
.reg-parallax {
    background-image: url("../img/sliderbig6.jpg");
    padding: 80px 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-img {
    background-image: url("../img/Bigslide1.jpg");
    padding: 100px 0;
}
/* semi-transparent color over parallax background-image */

.bg-colr {
    background-color: rgba(236, 238, 237, 0.5);
    min-height: 600px;
}
.bg-parallax {
    background-color: rgba(236, 238, 237, 0.3);
    min-height: 600px;
}
.parallax-text {
    font-size: 35px;
    font-weight: 500;
    line-height: 44px;
    color: #fff;
    font-family: "Aria"
}
.navbar-light .navbar-toggler {
    border-color: #ffa600 !important;
    border-radius: 0 !important;
}
.custom-caption {
    top: 25%;
}
/* media query only for ipad landscape not for portrait ipad
    applicable when use hidden property of BS4*/

@media (min-width: 768px) and (max-width: 1024px) {
    h1.head-caption {
        font-size: 2.5rem !important;
    }
}
h1.res-head {
    font-size: 3rem;
    font-family: "Poppins-Light";
}
h1.head {
    font-size: 3.5rem;
    font-family: "Poppins-Light";
}
h2.head {
    font-size: 3rem;
    font-family: "Poppins-Light";
}
h1.head-caption {
    font-size: 4.5rem;
    font-family: "Poppins-Light";
}
h3.contact-section {
    font-family: "Poppins-SemiBold", sans-serif;
}
h2.menu-section {
    font-family: "Poppins-SemiBold", sans-serif;
}
.text-yellow {
    color: #ffa600;
}
.nav-fs {
    font-size: 12px;
    letter-spacing: 1px;
}
.bg-yellow {
    background-color: #ffa600;
}
.book .input-group .form-control {
    text-align: left;
    color: #ffffff;
    border-color: rgba(255, 255, 255, .5);
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: transparent;
}
.book .input-group .input-group-addon {
    position: relative;
    z-index: 10;
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .5);
    border-left: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: transparent;
}
.btn-outline-black {
    background-color: #000;
    border-color: #000;
    color: #fff;
}
.btn-outline-black:hover,
.btn-outline-black:focus {
    background-color: #ffa600;
    border-color: #fff;
    color: #fff;
}
.box::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
}
.box::-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
}
.box::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
}
@media (max-width: 992px) {
    .text-small-center {
        text-align: center;
    }
}
h1.error-section {
    font-family: "Poppins-SemiBold", sans-serif;
    font-size: 10rem;
    font-weight: 500;
}
p.error {
    font-family: "Poppins-Light", sans-serif;
    font-weight: 500;
}
.bg-error {
    background-image: url("../img/corp/smallslider3.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0;
}
.py-40 {
    padding: 100px 0;
}
.py-80 {
    padding: 130px 0;
}
.contact-widget address {
    line-height: 45px;
}
.contact-widget a:hover {
    color: #ffa600;
}
.contact-widget a {
    color: #fff;
}
.contact-widget span:hover {
    color: #ffa600;
}
.social-fs {
    font-size: 1.2rem;
}
.top-bar .info li a:first-child {
    padding-left: 0px;
}
.pencil-fs {
    font-size: 18px;
}
i.icon-xs {
    font-size: 16px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-bottom: 7px !important;
    margin-right: 7px !important;
    width: 30px !important;
}
i.icon-box {
    border-radius: 4px;
    color: #fff;
    font-size: 45px;
    height: 100px;
    line-height: 100px;
    margin-bottom: 12px;
    margin-right: 12px;
    text-align: center;
    vertical-align: middle;
    width: 100px;
}
i.icon-box {
    background-color: #ffa600;
}
.contact-widget .contact-social li a:hover {
    background: #ffffff;
    border: 1px solid #ffa600;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.contact-widget .contact-social li a {
    line-height: 40px;
    background: #ffa600;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.navbar-trans {
    background: transparent;
}
.bar-fs {
    font-size: 28px;
}
.navbar-custom-toggler {
    top: 3px;
}
.display-table {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Opera 12.1, Firefox 20+ */
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.verticle-middle {
    margin: 0 auto;
}
.top-bar-trans {
    background-color: transparent;
}
@media (max-width: 992px) {
    .text-sm-center {
        display: block;
        text-align: center;
    }
}
.card-shadow:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
}
/* team */

#team .team-item figure {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}
#team .team-item figure img {
    width: 100%;
    height: auto;
}
#team .team-item figure figcaption {
    height: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    width: 100%;
    -webkit-transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.8s cubic-bezier(0.19, 1, 0.22, 1);
}
@media(min-width:992px) {
    #team .team-item figure figcaption .details {
        position: absolute;
        margin: 0 auto;
        top: 30%;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
@media(max-width:991px) {
    #team .team-item figure figcaption .details {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
    }
}
#team .team-item figure figcaption .content-white {
    font-size: 13px;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    line-height: 18px;
    width: 65%;
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#team .team-item figure figcaption .yellow-line {
    margin: 12px auto 6px;
    width: 0px;
    height: 1px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#team .team-item figure:hover figcaption {
    opacity: 1;
}
#team .team-item figure:hover .yellow-line {
    width: 62px;
}
#team .team-item figure:hover figcaption .content-white {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
#team .team-item figure:hover .social a {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
}
#team .team-item .social {
    text-align: center;
    margin-top: 15px;
}
#team .team-item .social .facebook,
#team .team-item .social .twitter,
#team .team-item .social .google-plus {
    font-size: 14px;
    line-height: normal;
    outline: none;
    border-radius: 50%;
    color: #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    margin-right: 5px;
}
#team .team-item .social .facebook {
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}
#team .team-item .social .twitter {
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
#team .team-item .social .google-plus {
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}
#team .team-item .social a:hover {
    background: #ffa600;
}
#team .info {
    background: #fff;
    padding: 15px 0 1px;
    text-align: center;
    border-color: #ffa600;
}
#team .info h2 {
    color: #000;
    font-size: 18px;
    font-family: "Poppins-Regular";
}
#team .info p {
    color: #000;
    font-size: 12px;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
.yellow-line {
    margin: 12px auto 6px;
    width: 52px;
    height: 2px;
    background-color: #ffa600;
}
#team-block-2 .team-member {
    padding-bottom: 15px;
    margin-top: 20px;
    border-bottom: 5px solid transparent;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background: #666;
    border-bottom: 4px solid transparent;
}
#team-block-2 .team-member .face {
    position: relative;
    width: 100%;
    overflow: hidden;
}
#team-block-2 .team-member .face img {
    width: 100%;
    height: auto;
}
#team-block-2 .team-member .member-info {
    text-align: center;
    padding: 24px;
}
#team-block-2 .team-member .member-info h3 {
    line-height: 30px;
    font-size: 30px;
    color: #fff;
}
#team-block-2 .team-member .member-info .position {
    color: #999;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
#team-block-2 .team-member .member-info .social-team {
    margin-top: 15px;
}
#team-block-2 .team-member .member-info .social-team a {
    color: #3D566E;
    margin: 0 4px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#team-block-2 .team-member .member-info .social-team a i {
    color: #ffffff;
    padding: 7px;
    background: transparent;
    font-size: 18px;
    line-height: 28px;
    border: 1px solid #fff;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
#team-block-2 .team-member .member-info .desc {
    margin-top: 15px;
    color: #ecf0f1;
}
.about-parallax {
    background-image: url("../img/Bigslide2.jpg");
    padding: 130px 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-parallax1 {
    background-image: url("../img/Table.jpg");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-faded {
    color: #aaa;
}
.subtitle-color {
    text-align: center;
    display: block;
    text-transform: uppercase;
    color: #000;
    position: relative;
    width: 550px;
    font-size: 18px;
    letter-spacing: 4px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.subtitle-color:before {
    content: "";
    background: #ffa600;
    height: 1px;
    width: 90px;
    position: absolute;
    top: 12px;
    left: 0;
}
.subtitle-color:after {
    content: "";
    background: #ffa600;
    height: 1px;
    width: 90px;
    position: absolute;
    top: 12px;
    right: 5px;
}
.bdr-rgt {
    border-right: 1px solid #bdbdbd;
}
.yellow-left {
    width: 52px;
    height: 4px;
    background-color: #ffa600;
    text-align: left;
}
ul.blog-cat li a {
    color: #636c72;
}
ul.blog-cat li a:hover {
    color: #ffa600;
}
ul.tags li a {
    color: #636c72;
    border: 1px solid #636c72;
    padding: 5px 20px;
    font-family: "Poppins-Regular", sans-serif;
    font-size: 13px;
}
ul.tags li a:hover {
    color: #fff;
    border: 1px solid #636c72;
    padding: 5px 20px;
    background-color: #ffa600;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    border-color: #ffa600;
    font-family: "Poppins-Regular", sans-serif;
}
.pb-10 {
    padding-bottom: 100px;
}
.blog {
    color: #646464;
}
/* one page */

.btn-outline-primary {
    color: #fff;
    background-image: none;
    background-color: transparent;
    border-color: #fff;
}
.btn-outline-primary:focus{
    color: #fff;
}
.btn-outline-primary:active,
.btn-outline-primary.active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #ffa600;
    border-color: #ffa600;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #ffa600;
    border-color: #ffa600;
}
.btn:active,
.btn.active {
    background-image: none;
}
@media(max-width: 991px) {
    .no-padd {
        padding: 15px;
    }
    .no-margin {
        margin: -15px;
    }
    .mt-sm-15 {
        margin-top: 15px;
    }
}
@media(min-width: 992px) {
    .no-padd {
        padding: 0;
    }
    .no-margin {
        margin: 0;
    }
    .mt-sm-15 {
        margin-top: 0;
    }
}
body {
    overflow-x: hidden;
}
/***spaces**/

.space-10 {
    width: 100%;
    height: 10px;
}
.space-20 {
    width: 100%;
    height: 20px;
}
.space-30 {
    width: 100%;
    height: 30px;
}
.space-40 {
    width: 100%;
    height: 40px;
}
.space-50 {
    width: 100%;
    height: 50px;
}
.space-60 {
    width: 100%;
    height: 60px;
}
.space-70 {
    width: 100%;
    height: 70px;
}
.space-80 {
    width: 100%;
    height: 80px;
}
.space-90 {
    width: 100%;
    height: 90px;
}
.space-100 {
    width: 100%;
    height: 100px;
}
@media (max-width: 767px) {
    .space-70 {
        height: 35px;
    }
}
.close {
    text-shadow: none;
    opacity: 1;
}
/**********back to top*************/

.scrollToTop {
    text-align: center;
    font-size: 30px;
    background: #ffa600;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    display: none;
    opacity: 0.5;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.scrollToTop:hover {
    text-decoration: none;
    opacity: 1;
    color: #fff;
}
.scrollToTop i {
    line-height: 45px;
    font-size: 30px;
}
/**Bootstrap 4 header style**/

.navbar-brand:focus {
    border: 0;
    outline: none !important;
    text-decoration: none !important;
}
.nav-link:focus {
    border: 0;
    outline: none !important;
    text-decoration: none !important;
}
@media(max-width: 992px) {
    .navbar-light .navbar-nav .nav-link {
        color: #333;
    }
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.open,
    .navbar-light .navbar-nav .open>.nav-link {
        color: #ffa600;
    }
}
.header-top-transparent {
    z-index: 999 !important;
}
.navbar-light.sticky-header {
    z-index: 999 !important;
}
body .sticky-wrapper,
body .sticky-wrapper.is-sticky {
    height: auto !important;
}
@media (min-width: 992px) {
    .navbar-light.sticky-header {
        background: transparent !important;
    }
    .header-top-transparent {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 9999 !important;
    }
    .header-top-transparent .sticky-wrapper.is-sticky .navbar-brand > img.logo-scroll {
        opacity: 1;
    }
    .header-top-transparent .sticky-wrapper.is-sticky .navbar-brand > img.logo-default {
        opacity: 0;
    }
    .header-top-transparent .navbar .nav-link {
        color: #fff;
    }
    .header-top-transparent .navbar-light .navbar-nav .active > .nav-link,
    .header-top-transparent .navbar-light .navbar-nav .nav-link.active,
    .header-top-transparent .navbar-light .navbar-nav .nav-link.open,
    .header-top-transparent .navbar-light .navbar-nav .open > .nav-link {
        color: #ffa600 !important;
    }
    .header-top-transparent .navbar-light .navbar-nav .nav-link:focus,
    .header-top-transparent .navbar-light .navbar-nav .nav-link:hover {
        color: #ffa600 !important;
    }
    .header-top-transparent .sticky-wrapper.is-sticky .navbar-light {
        background: rgba(255, 255, 255, 0.98) !important;
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    }
    .header-top-transparent .sticky-wrapper.is-sticky .navbar .nav-link {
        color: #333;
    }
    .navbar-toggleable-md .navbar-nav .nav-link {
        padding-left: .8rem;
        padding-right: .8rem;
    }
}
@media (max-width: 991px) {
    ul.nav.ml-auto.offcanvas-nav-items {
        position: absolute;
        right: 0;
        top: -3px;
    }
    .navbar-toggler {
        border: 0px;
    }
    .navbar-brand > img.logo-scroll {
        opacity: 1;
    }
    .navbar-light.sticky-header {
        z-index: 9999 !important;
        background: #fff;
    }
    .header-top-transparent {
        position: static;
    }
    .dropdown-submenu > .dropdown-menu {
        display: block;
    }
    .collapse.show {
        overflow-y: auto;
        height: 280px;
    }
    .navbar-header {
        min-height: 39px;
    }
}
@media (max-width: 576px) {
    .navbar-toggleable-md > .container {
        width: 100%;
    }
}
/*
=================
Drop down menu styles
==================
*/

.dropdown-menu {
    background-color: #000000;
    border: 0px;
    padding: 0px;
    min-width: 200px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
.dropdown-menu > li > a {
    color: #ccc;
    padding: 10px 20px;
    text-transform: capitalize;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 400;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: rgba(255, 255, 255, 0.03);
    color: #fff;
}
/*
==========================
Slider styles
==========================
*/
/* 
   Main flex slider
*/
/**rev slider**/

.slider-title {
    font-weight: 400;
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;
    padding: 12px 20px;
    padding-top: 20px;
    border: 1px solid #fff;
}
.slider-caption {
    color: #fff;
    font-size: 25px;
}
.slider-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
/**responsive style**/

@media (max-width: 991px) {
    .full_screen_hero h1 {
        font-size: 55px;
        line-height: 55px;
    }
    .login-register-left {
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        background: #fff;
    }
    .login-register-inner {
        padding: 40px 0;
    }
}
@media (max-width: 767px) {
    .main-content {
        position: relative;
        height: 100%;
    }
    .full_screen_hero h1 {
        font-size: 27px;
        line-height: 27px;
    }
    .menu-tabs li a {
        padding: 10px 15px;
    }
    .space-80 {
        height: 40px;
    }
    .space-100 {
        height: 50px;
    }
    .space-70 {
        height: 35px;
    }
    .parallax-background,
    .about-chefs,
    .cta-background-2,
    .page-breadcrumb,
    .full_screen_hero {
        background-attachment: scroll !important;
        background-position: center center !important;
    }
}
.parallax-one-page {
    background-image: url("../img/Menubg2.jpg");
    padding: 100px 0;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-fs-one-page {
    font-size: 12px;
    letter-spacing: 1px;
}
/* Gallery */

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}
.img-wrapper img {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
}
.img-wrapper img:hover {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    /* IE 9 */
    
    -moz-transform: scale(1.5);
    /* Firefox */
    
    -webkit-transform: scale(1.5);
    /* Safari and Chrome */
    
    -o-transform: scale(1.5);
    /* Opera */
}
.gallery-box {
    display: block;
    position: relative;
    overflow: hidden;
}
.gallery-overlay:hover {
    background: rgb(242, 92, 5);
    /* The Fallback */
    
    background-color: rgba(242, 92, 5, 0.6);
}
.gallery-box .gallery-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.gallery-box:hover .gallery-overlay i {
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}
.gallery-box .gallery-overlay i {
    display: block;
    text-align: center;
    font-size: 80px;
    margin-top: -40px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}
/* Portofolio grid-3 */

.item-box {
    position: relative;
    overflow: hidden;
    display: block;
}
.item-box a {
    display: inline-block;
}
.item-box:hover .item-mask {
    opacity: 1;
    visibility: visible;
}
.item-box:hover .item-mask .item-caption {
    bottom: 30px;
    opacity: 1;
}
.item-box:hover .item-container {
    transform: scale(1.1);
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    width: 100%;
}
.item-container {
    transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    width: 100%;
    transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -moz-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -webkit-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
    -o-transition: all 2s cubic-bezier(0.23, 1, 0.32, 1) 0s;
}
.item-mask {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 100%;
    position: absolute;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
}
.item-mask h5,
.item-mask h6,
.item-mask p {
    margin-bottom: 0px;
}
.item-mask p {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-weight: 400;
    margin-top: 0;
    text-align: left;
}
.item-mask .item-caption {
    position: absolute;
    bottom: -60px;
    left: 0px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    opacity: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .item-box {
        text-align: center !important;
    }
}
.fa-search {
    font-size: 12px;
}
.btn-outline-primary.focus,
.btn-outline-primary:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.page-links a:focus {
    color: #fff;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
/* Login */

.crumb li a {
    color: #fff;
}
.crumb li a:hover {
    color: #ffa600;
}
.custom-card-header {
    border: 0;
    background-color: transparent;
}
.custom-form {
    border-radius: 0;
}
.custom-form:focus {
    border-color: #ffa600;
}
::-moz-placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
::-ms-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .5);
    font-size: 14px;
}
.my-lg-80 {
    margin: 80px 0;
}
.card-footer-size {
    font-size: 14px;
}
span.login-hover a {
    color: #ffa600;
}
span.login-hover a:hover {
    text-decoration: underline !important;
}
.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
/* services*/

h5.alt-title {
    font-size: 1.3rem;
    font-family: "Poppins-Light";
    letter-spacing: 1px;
}
.alt-icon-top .fa {
    border-radius: 50%;
    color: #fff;
    font-size: 23px;
    height: 60px;
    line-height: 60px;
    margin-bottom: 20px;
    width: 60px;
}
.alt-icon-top .fa {
    background: #ffa600 none repeat scroll 0 0;
}
.alt-icon-top .fa:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.features-block .block-icon {
    border: 1px solid #ffa600;
}
.features-block .block-icon {
    border-radius: 50%;
    display: inline-block;
    height: 60px;
    text-align: center;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 60px;
}
.ease {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.features-block .block-icon:before {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0, transparent 80%);
    content: '';
    height: 10px;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 100%;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
    width: 90%;
    z-index: -1;
}
.features-block .block-icon i {
    color: #ffa600;
}
.features-block .block-icon i {
    line-height: 60px!important;
    font-size: 23px;
}
.features-block:hover .block-icon {
    background-color: #ffa600;
}
.features-block:hover .block-icon i {
    color: #ffffff;
}
.features-block:hover .block-icon {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
}
.features-block:hover .block-icon:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
}
/* service 4 */

.service-icon {
    border-radius: 4px;
    display: inline-block;
    height: 50px;
    text-align: center;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 50px;
    position: relative;
    z-index: 5;
}
.service-feature .service-icon {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ffa600;
}
.custom-card-service:hover {
    box-shadow: 7px 7px 3px #888888;
}
.service-feature .service-icon {
    border-radius: 4px;
    display: inline-block;
    height: 50px;
    text-align: center;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 50px;
}
.service-feature {
    position: absolute;
    background: #f9f9f9;
    position: absolute;
    top: -20px;
    left: 45%;
}
.service-feature .service-icon i {
    color: #ffa600;
}
.service-feature .service-icon i {
    line-height: 50px!important;
    font-size: 1.80rem;
}
.service-feature .service-icon:hover {
    animation: spinAround 2s linear infinite;
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.service-feature:hover {
    animation: spinAround 2s linear infinite;
}
@keyframes spinAround {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.title-heading1:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80px;
    margin-left: -40px;
    height: 2px;
    background: #ffa600;
}
.title-about {
    position: relative;
}
.title-about:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 80px;
    margin-left: -40px;
    height: 2px;
    background: #ffa600;
    top: 115%;
}
@media(max-width: 991px) {
    .title-about {
        position: relative;
    }
    .title-about:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 80px;
        margin-left: -40px;
        height: 2px;
        background: #ffa600;
    }
}
p {
    color: #888;
    font-size: 14px;
}
.service-parallax {
    background-image: url("../img/parallax6.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.service-parallax1 {
    background-image: url("../img/parallax4.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.custom-font {
    font-size: 18px;
    color: #fff;
}
/*Clients*/

.client-counter {
    background-image: url("../img/parallax3.jpg");
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.count-fs {
    font-size: 50px;
    color: #ffa600;
}
h5.head {
    font-family: "Poppins-Light", sans-serif;
}
h6.head {
    font-family: "Poppins-Regular", sans-serif;
}
/* Blog */

.blog-font {
    font-size: 14px;
}
.fa-user,
.fa-comments,
.fa-clock-o {
    color: #ffa600;
}
.pad-rgt {
    padding-right: 10px;
}
.blog-card {
    border: 0;
}
.custom-card-block {
    padding: 1.25rem 0;
}
.comment-small {
    font-size: 14px;
}
.custom-media h5 a {
    color: #696153;
    font-family: "Poppins-Light", sans-serif;
}
.custom-media h5 a:hover {
    color: #ffa600;
}
.custom-media p {
    font-family: "open-sans.regular", sans-serif;
    color: #696153;
}
.media-image img {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0px 0px 3px #ddd;
}
/* Testimonials */

.testimonial-carousel {
    text-align: center;
}
.testimonial-carousel .testimonial {
    margin-right: 15%;
    margin-left: 15%;
}
.testimonial-carousel .testimonial .avatar {
    margin-bottom: 1rem;
}
.testimonial-carousel .testimonial .avatar img {
    max-width: 70px;
}
.testimonial-carousel .testimonial p {
    color: #666;
    font-family: "Poppins-Light", sans-serif;
}
#carousel-custom-indicators {
    bottom: -41px;
}
#carousel-custom-indicators > li {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    max-width: 10px;
}
.color-opt .active {
    background-color: #ffa600;
}
.testimonial-parallax {
    background-image: url("../img/slidersmall2.jpg");
    padding: 80px 0;
    background-attachment: fixed;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.testimonial-background {
    background-color: #f5f5f5;
    padding: 80px 0;
    background-size: cover;
}
.custom-color-indicator li {
    background-color: #2d3032;
}
.h-body {
    font-family: "Poppins-Regular", sans-serif;
}
/* Contact */

.contact-form {
    border-radius: 0;
    padding: 13px 20px;
}
.contact-form:focus {
    border-color: #ffa600;
}
.contact-fa i {
    font-size: 30px;
    color: #ffa600;
}
.message-fa i {
    font-size: 25px;
    color: #ffa600;
}
h4.head {
    font-family: "Poppins-Regular";
}
.contact-card {
    border: 0;
    background-color: #f5f5f5;
}
@media(min-width:992px) {
    .mt-80 {
        margin-top: 83px;
    }
}
.contact-parallax {
    background-image: url("../img/sliderbig4.jpg");
    padding: 80px 0;
    background-attachment: fixed;
    background-position: right 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.page-custom-link:focus,
.page-custom-link:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-color: #ddd;
}
.page-custom-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #ffa600;
    background-color: #fff;
    border: 1px solid #ddd;
}
.page-custom-link a:focus {
    color: #ffa600;
    outline: 0;
}
/* About3 */

.team-card {
    position: relative;
    overflow: hidden;
}
.team-card .team-overlay {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
}
.team-card:hover .team-overlay {
    opacity: 1;
}
.team-card .team-overlay .team-detail {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    text-align: center;
    width: 100%;
}
.team-card:hover .team-overlay .team-detail {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
.team-card .team-overlay .team-detail .seprator-overlay {
    width: 80px;
    height: 1px;
    margin: 10px auto;
    background: rgba(255, 255, 255, 0.8);
}
.team-card .team-overlay .team-detail ul li a {
    color: #fff;
}
.team-card .team-overlay .team-detail ul li a:hover {
    color: #ffa600;
}
.team-card .team-overlay .team-detail span {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 13px;
    font-style: italic;
}
/* Navbar Toggler */

.navbar-toggler span {
    display: block;
    background-color: #ffa600;
    height: 4px;
    width: 25px;
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    position: relative;
    left: 0;
    opacity: 1;
}
.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition: transform .35s ease-in-out;
    -o-transition: transform .35s ease-in-out;
    transition: transform .35s ease-in-out;
}
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    position: absolute;
    left: 12px;
    top: 10px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.navbar {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
@media(max-width: 991px) {
    .navbar {
        border-bottom: 1px solid #eee;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
}

@media(max-width: 768px){
    .navbar-toggleable-sm .navbar-nav .nav-link{
        padding-right: 0rem !important;
    }

    .navbar-light .navbar-nav .nav-link {
        color: #333;
        padding: 20px 5px;
    }
}

/* media query only for ipad landscape not for portrait ipad
    applicable when use hidden property of BS4*/
@media (min-width: 992px) and (max-width: 1024px) {
    .hidden-lg-up.tagg {
        display: block !important;
    }

    .hidden-lg-down.tagg {
        display: block !important;
    }
}